doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href="assets/css/main.css")
		link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.min.css")
	body
		header
			.container
				.navbar.navbar-default.navbar-fixed-top(role='navigation')
					.container
						.navbar-header
							button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand(href='#') 
								h4 Default Welcome Msg!
						.navbar-collapse.collapse
							ul.nav.navbar-nav.navbar-right
								li
									a(href='#') 
										span
											img.flag(src='assets/images/flag1.png')
										span Language  
										span.fa.fa-angle-down
								li
									a(href='#') 
										span.fa.fa-dollar
										span Language  
										span.fa.fa-angle-down
								li
									a(href='#services')
										span.fa.fa-user
										span Language  
										span.fa.fa-angle-down
		
		section.header-logo.pd-50-0
			.container
				.row
					.col-lg-4.media
						.media-left.media-middle
							a(href='#')
								span.fa.fa-clock-o
						.media-body
							h4 OPENING TIME
							p 9.00 AM - 10.00 PM
					.col-lg-4
						img(src="assets/images/logo.png")
					.col-lg-4
						form.navbar-form.navbar-left(role="search")
							.form-group
								input.form-control(type="text", placeholder="Search")
		
		section.header-hero
			.navbar-default
				.container
					.navbar-collapse.collapse
						ul.nav.navbar-nav
							li
								a(href='#') HOME
							li
								a(href='#') CONTACT US
						.nav.navbar-nav.navbar-right
							h4 
								span.fa.fa-shopping-cart Cart
							p 2 item(s) - $244.00

		section.hero
			.cont-hero
				h2 AUTUMN/WINTER LOOKBOOK
				h4 -  2 0 1 6   C O L L E C T I O N   -

		section.slider.pd-50-0
			.container
				.row
					.col-lg-5
						img(src="assets/images/banner1.jpg")
					.col-lg-7
						img(src="assets/images/banner2.jpg")

		section.title
			a(href="#").fa.fa-chevron-left
			a(href="#").active LATEST
			a(href="#") BESTSELLLER
			a(href="#") SALE
			a(href="#").fa.fa-chevron-right

		section.product.pd-50-0
			.container
				.row
					.col-lg-12
				.row
					.col-lg-3
						.cont-product
							.new NEW
							img(src="assets/images/a1.jpg")
							.text-product
								h5 Deliver Wide
								.star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-o
									i.fa.fa-star-o
								span.costo-nulo $242.00
								span  $218.00
					.col-lg-3
						.cont-product
							.sale SALE
							.new NEW
							img(src="assets/images/b1.jpg")
							.text-product
								h5 Deliver Wide
								.star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-o
									i.fa.fa-star-o
								span.costo-nulo $242.00
								span  $218.00
					.col-lg-3
						.cont-product
							.sale SALE
							img(src="assets/images/c1.jpg")
							.text-product
								h5 Deliver Wide
								.star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-o
									i.fa.fa-star-o
								span.costo-nulo $242.00
								span  $218.00
					.col-lg-3
						.cont-product
							.new NEW
							img(src="assets/images/d1.jpg")
							.text-product
								h5 Deliver Wide
								.star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-o
									i.fa.fa-star-o
								span.costo-nulo $242.00
								span  $218.00
		section.hero-client.mb-50
			.container
				.row
					.col-lg-2.img-client
						img(src="assets/images/client1.jpg")
					.col-lg-2.img-client
						img(src="assets/images/client2.jpg")
					.col-lg-2.img-client
						img(src="assets/images/client3.jpg")
					.col-lg-2.img-client
						img(src="assets/images/client4.jpg")
					.col-lg-2.img-client
						img(src="assets/images/client5.jpg")
					.col-lg-2.img-client
						img(src="assets/images/client6.jpg")
		
		section.title
			a(href="#").fa.fa-chevron-left
			a(href="#").active CLOTHING
			a(href="#") EQUIPMENTS
			a(href="#") JEWELLERY
			a(href="#").fa.fa-chevron-right

		section.product.pd-50-0
			.container
				.row
					.col-lg-4
						.row
							.col-lg-5
								.cont-product
									.sale SALE
									.new NEW
									img(src="assets/images/a1.jpg")
							.col-lg-7
								.text-product
									h5 Deliver Wide
									span.costo-nulo $242.00
									span  $218.00
									.star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star-o
										i.fa.fa-star-o
									a.add
										span.fa.fa-shopping-cart Add to Cart 
					.col-lg-4
						.row
							.col-lg-5
								.cont-product
									.sale SALE
									.new NEW
									img(src="assets/images/d2.jpg")
							.col-lg-7
								.text-product
									h5 Deliver Wide
									span.costo-nulo $242.00
									span  $218.00
									.star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star-o
										i.fa.fa-star-o
									a.add
										span.fa.fa-shopping-cart Add to Cart 
					.col-lg-4
						.row
							.col-lg-5
								.cont-product
									.sale SALE
									.new NEW
									img(src="assets/images/g2.jpg")
							.col-lg-7
								.text-product
									h5 Deliver Wide
									span.costo-nulo $242.00
									span  $218.00
									.star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star-o
										i.fa.fa-star-o
									a.add
										span.fa.fa-shopping-cart Add to Cart
					.col-lg-4
						.row
							.col-lg-5
								.cont-product
									.sale SALE
									.new NEW
									img(src="assets/images/c2.jpg")
							.col-lg-7
								.text-product
									h5 Deliver Wide
									span.costo-nulo $242.00
									span  $218.00
									.star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star-o
										i.fa.fa-star-o
									a.add
										span.fa.fa-shopping-cart Add to Cart 
					.col-lg-4
						.row
							.col-lg-5
								.cont-product
									.sale SALE
									.new NEW
									img(src="assets/images/c2.jpg")
							.col-lg-7
								.text-product
									h5 Deliver Wide
									span.costo-nulo $242.00
									span  $218.00
									.star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star-o
										i.fa.fa-star-o
									a.add
										span.fa.fa-shopping-cart Add to Cart 
					.col-lg-4
						.row
							.col-lg-5
								.cont-product
									.sale SALE
									.new NEW
									img(src="assets/images/e2.jpg")
							.col-lg-7
								.text-product
									h5 Deliver Wide
									span.costo-nulo $242.00
									span  $218.00
									.star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star
										i.fa.fa-star-o
										i.fa.fa-star-o
									a.add
										span.fa.fa-shopping-cart Add to Cart 
		section.title
			a(href="").fa.fa-chevron-left
			a(href="") BLOG
			a(href="").fa.fa-chevron-right

		section.blog.pd-50-0
			.container
				.row
					.col-lg-3
						img(src="assets/images/blog2.jpg")
						.text-blog
							h5 THE SAMPLE HEADING TITLE
							p 27/11/2015
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
							a Read more...
					.col-lg-3
						img(src="assets/images/blog1.jpg")
						.text-blog
							h5 THE SAMPLE HEADING TITLE
							p 27/11/2015
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
							a Read more...
					.col-lg-3
						img(src="assets/images/blog2.jpg")
						.text-blog
							h5 THE SAMPLE HEADING TITLE
							p 27/11/2015
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
							a Read more...
					.col-lg-3
						img(src="assets/images/blog3.jpg")
						.text-blog
							h5 THE SAMPLE HEADING TITLE
							p 27/11/2015
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
							a Read more...
		footer
			.container
				.row
					.col-md-9
						p Copyright © 2015 cootExperts All rights reserved
					.col-md-3
						img(src="assets/images/payment.png")
            
